
[Desktop Entry]
Name=Gnote
Name[ar]=ملاحظات‌ج
Name[as]=Gnote
Name[bg]=Gnote
Name[bn_IN]=Gnote
Name[ca]=Gnote
Name[cs]=Gnote
Name[da]=Gnote
Name[de]=Gnote
Name[en_GB]=Gnote
Name[es]=Gnote
Name[fr]=Gnote
Name[gu]=Gnote
Name[he]=Gnote
Name[hi]=जीनोट
Name[hu]=Gnote jegyzettömb
Name[id]=Gnote
Name[it]=Gnote
Name[ja]=Gnote メモ
Name[kn]=Gnote
Name[ko]=지노트
Name[lt]=Gnote
Name[ml]=ജിനോട്ട്
Name[mr]=Gnote
Name[nb]=Gnote
Name[or]=Gnote
Name[pa]=ਜੀ-ਨੋਟ
Name[pl]=Gnote
Name[pt_BR]=Gnote
Name[ro]=Gnote
Name[ru]=Gnote
Name[sl]=Gnote
Name[sv]=Gnote
Name[ta]=Gnote
Name[te]=Gnote
Name[th]=Gnote
Name[uk]=Gnote
Name[zh_CN]=Gnote
Comment=Take notes, link ideas, and stay organized
Comment[ar]=سجّل الملاحظات، واربط الأفكار ونظّم أفكارك
Comment[as]=নোট লওক, আইডিয়া যোগ কৰক, পৰিচালিত কৰি ৰাখক
Comment[bg]=Писане на бележки, свързване на идеи — бъди организиран
Comment[bn_IN]=নোট নিন, আইডিয়া একত্রিত করুন, গুছিয়ে রাখুন
Comment[ca]=Pren notes, enllaça idees i organitza't
Comment[ca@valencia]=Pren notes, enllaça idees i organitza't
Comment[cs]=Pomůže vám vyznat se ve vašich poznámkách
Comment[da]=Tag noter, forbind ideer, og vær organiseret
Comment[de]=Notizen aufnehmen, Ideen verknüpfen und den Überblick behalten
Comment[el]=Κρατήστε σημειώσεις, συνδέστε τις ιδέες σας, οργανωθείτε
Comment[en_GB]=Take notes, link ideas, and stay organised
Comment[es]=Tome notas, enlace ideas y manténgase organizado
Comment[fr]=Prendre des notes, relier des idées, rester organisé
Comment[gl]=Toma notas, liga ideas, e mantente organizado
Comment[gu]=નોંધો લો, વિચાર કડી, અને સંચાલિત રાખો
Comment[he]=רשום הערות, קשר רעיונות והשאר מאורגן
Comment[hi]=नोट लें, लिक विचार, और व्यवस्थित रहें
Comment[hu]=Jegyzeteljen, kösse össze az ötleteket és maradjon összeszedett
Comment[id]=Menyimpan catatan, menyambung ide, dan tetap tertata
Comment[it]=Prende note, collega le idee e aiuta a restare organizzati
Comment[ja]=メモを取ってアイディアを関連づけ、そして体系化します
Comment[kn]=ಟಿಪ್ಪಣಿಗಳನ್ನು ಮಾಡಿಕೊಳ್ಳಿ, ವಿಚಾರಗಳನ್ನು ಸೇರಿಸಿಕೊಳ್ಳಿ, ಹಾಗು ಎಲ್ಲವನ್ನೂ ವ್ಯವಸ್ಥಿತವಾಗಿ ಇರಿಸಿಕೊಳ್ಳಿ
Comment[ko]=쪽지를 쓰고, 아이디어를 연결하고, 정리합니다
Comment[lt]=Konspektuokite, susiekite idėjas ir dirbkite tvarkingai
Comment[ml]=മനസ്സിലുള്ള ചിന്തകള്‍ കുറിച്ചിട്ടു്, ചിട്ടയോടെ കാര്യങ്ങള്‍ കൈകാര്യം ചെയ്യുക
Comment[mr]=टिप घ्या, विचार जुळवा, व संगठीत रहा
Comment[or]=ଲେଖନ୍ତୁ, ବିଚାରଗୁଡ଼ିକୁ ମିଶ୍ରଣ କରନ୍ତୁ, ଏବଂ ସୁସଂଗଠିତ ରୁହନ୍ତୁ
Comment[pa]=ਨੋਟ ਲਵੋ, ਵਿਚਾਰ 'ਕੱਠੇ ਕਰੋ ਅਤੇ ਪਰਬੰਧ ਅਧੀਨ ਰਹੋ
Comment[pl]=Robienie notatek, łączenie pomysłów, organizacja
Comment[pt]=Tome notas, associe ideias e mantenha-se organizado
Comment[pt_BR]=Tome notas, associe idéias e mantenha-se organizado
Comment[ro]=Luați notițe, legați idei și fiți organizați
Comment[ru]=Делай заметки, связывай идеи, организуй себя
Comment[sl]=Pišite sporočilca, povezujte ideje in ostanite organizirani
Comment[sv]=Skriv ner anteckningar, länka till idéer och håll dig organiserad
Comment[ta]=குறிப்பு எடுக்கவும், இணைப்பு யோசனைகள், மற்றும் உருங்கினைத்தலையும்
Comment[te]=గమనికలను తీసుకొనుము, అలోచనలను జతపరచుము, పొందికగా వుంచుము
Comment[th]=จดบันทึก, เชื่อมโยงความคิด, และจัดระเบียบ
Comment[uk]=Зібрати нотатки, пов'язати ідеї та залишитися зібраним
Comment[zh_CN]=记录便笺，汇集想法，保持井然有序
GenericName=Note-taker
GenericName[ar]=مسجل الملاحظات
GenericName[as]=নোট-গ্ৰহণ ব্যৱস্থা
GenericName[bg]=Взимане на бележки
GenericName[bn_IN]=নোট-গ্রহণ ব্যবস্থা
GenericName[ca]=Prenedor de notes
GenericName[ca@valencia]=Prenedor de notes
GenericName[cs]=Poznámky
GenericName[da]=Notehåndtering
GenericName[de]=Notizanwendung
GenericName[el]=Μπλοκάκι σημειώσεων
GenericName[en_GB]=Note-taker
GenericName[es]=Anotador
GenericName[fr]=Application de prise de notes
GenericName[gl]=Anotador
GenericName[gu]=નોંધ-લેનાર
GenericName[he]=רושם־פתקיות
GenericName[hi]=नोट-टेकर
GenericName[hu]=Jegyzetkezelő
GenericName[id]=Penyimpan-catatan
GenericName[it]=Prendi note
GenericName[ja]=メモ
GenericName[kn]=ಟಿಪ್ಪಣಿ-ಮಾಡುವವ
GenericName[ko]=쪽지 만들기
GenericName[lt]=Užrašinė
GenericName[ml]=കുറിപ്പിനുള്ള സംവിധാനം
GenericName[mr]=टिप-लेखनकर्ता
GenericName[or]=ନୋଟ-ଗ୍ରହଣକାରୀ
GenericName[pa]=ਨੋਟ-ਲੈਣਦਾਰ
GenericName[pl]=Notatnik
GenericName[pt]=Tomar Notas
GenericName[pt_BR]=Tomador de notas
GenericName[ro]=Carnețel de notițe
GenericName[ru]=Записная книжка
GenericName[sl]=Zapisovalnik sporočilc
GenericName[sv]=Anteckningsverktyg
GenericName[ta]=குறிப்பு எடுப்பவர்
GenericName[te]=నోట్-తీసుకొనునది
GenericName[th]=เครื่องมือบันทึกข้อความ
GenericName[uk]=Записник
GenericName[zh_CN]=记事本
Exec=gnote
Icon=gnote
StartupNotify=false
Terminal=false
Type=Application
Categories=MATE;GTK;Utility;
OnlyShowIn=MATE;XFCE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=gnote
X-MATE-Bugzilla-Component=main
X-MATE-Bugzilla-Version=0.7.4
