[Desktop Entry]
Version=1.0
Name=GSettings Data Conversion
Comment=Migrates user settings from MateConf to dconf
Exec=mate-gsettings-data-convert
Terminal=false
Type=Application
OnlyShowIn=MATE;
X-MATE-Autostart-Phase=Initialization
