	See matecomponent/doc/FAQ for more details on how to name components.

	Based on the assumption that the OMG will allow us to register
the MATE/ and MateComponent/ toplevel namespaces; the following spaces have
been registered to the following projects, and are controlled by the
following people [ subject to any pending complaints ]:

* MATE/			michael@helixcode.com, jirka@5z.com

subdomains:
	AbiWord			abiword		msevior@mccubbin.ph.unimelb.edu.au
	Achtung/		achtung		mkestner@ameritech.net
	Chord/			mate-chord	rob@pangolin.org.uk
	CoMaten/		CoMaten	merchan@baton.phys.lsu.edu
	Config/			MateConf		hp@redhat.com
	ControlCenter/		control-center	?
	Crescendo/		creschendo	will@lashell.net
	DB/			Mate-db	rodrigo@mate-db.org
	Database/		libgda		rodrigo@mate-db.org
	Development/		mate-debug,	jpr@helixcode.com, dave@helixcode.com
	DevHelp/                DevHelp         micke@codefactory.se
	Dia/			Dia		james@daa.com.au
	EOG/			EOG		federico@helixcode.com
	Elysium/		Elysium		dobey@free.fr
	Encompass/		Encompass	dobey@free.fr
	Evolution/		Evolution	ettore@helixcode.com
	FileSelector/		file-sel	jacob@ximian.com
	GDA/			libgda		rodrigo@mate-db.org
	GGV/			ggv		jaka@gnu.org
	Galeon/			galeon		marco@it.gnome.org
	Gnumeric/		Gnumeric	jgoldberg@home.com
	Grapevine/		grapevine	jirka@5z.com
	GtkHTML/		GtkHTML		rodo@helixcode.com
	Guppi/			guppi3		trow@gnu.org
	Magnifier/		mate-mag	bill.haneman@sun.com
	Media/			mate-media	peter@ximian.com
	MrProject/		mrproject	richard.hult@codefactory.se
	Nautilus/		Nautilus	darin@eazel.com
	Pilot/			mate-pilot	eskil@eazel.com
	PonG/			pong	  	jirka@5z.com
	Print/			mate-print	chema@celorio.com
	SodiPodi/		sodipodi	lauris@helixcode.com
	Spell/			gtkhtml		rodo@helixcode.com
	Terminal/		mate-core	jirka@5z.com, jacob@helixcode.com
	VCS/			mate-vcs	snaggen@acc.umu.se
	VFS/			mate-vfs	pavel@eazel.com
	Vertigo/		Panel 2.0	jirka@5z.com, jacob@helixcode.com
	Yelp/			Yelp		micke@codefactory.se

standard interfaces:
	HTMLEditor		gtkhtml
	Panel			mate-core
	Panel2 (in 1.4)		mate-core
	PanelSpot		mate-core
	Applet			mate-core
	StatusSpot		mate-core

deprecated interfaces:
	Unknown			mate-libs
	Table			mate-libs
	GenericFactory		mate-libs

* Misc. Namespacing errors - non-deprecated.

Desktop/
	TextViewerFactory	mate-libs
	TextViewer		mate-libs
	Editor			mate-libs

help_browser/
	simple_browser		mate-core

[ reserved for component infastructure ]

* MateComponent/			miguel@helixcode.com, michael@helixcode.com
	Moniker/
	MonikerExtender/
	Sample/
		Audio
		Calculator
		CanvasItem	sample-canvas-item
		Clock
		Echo		matecomponent-echo
		Mines		matecomponent-mines
		Hello		matecomponent-hello
		Paint		paint-component-simple
		Text		matecomponent-text-plain

[ reserved for accessibility ]

* Accessibility/		bill.haneman@sun.com
