Source: caja-open-terminal
Section: mate
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Julien Valroff <julien@kirya.net>
Uploaders: Free Ekanayaka <freee@debian.org>
Build-Depends: debhelper (>= 5.0.0),
               cdbs,
               libcaja-extension-dev (>= 2.21.2),
               pkg-config,
               libxml-parser-perl,
               libmate-desktop-dev,
               libmateconf2-dev
Standards-Version: 3.8.0
Vcs-Svn: svn://svn.kirya.net/caja-open-terminal/trunk
Vcs-Browser: https://svn.kirya.net/listing.php?repname=caja-open-terminal
XS-DM-Upload-Allowed: yes

Package: caja-open-terminal
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: caja plugin for opening terminals in arbitrary local paths
 caja-open-terminal is a proof-of-concept Caja extension
 which allows you to open a terminal in arbitrary local folders.

