#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/mate.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

DEB_DH_MAKESHLIBS_ARGS := -n

install/caja-open-terminal::
	rm -f debian/caja-open-terminal/$(shell pkg-config --variable=extensiondir libcaja-extension)/libcaja-open-terminal.la
	rm -f debian/caja-open-terminal/$(shell pkg-config --variable=extensiondir libcaja-extension)/libcaja-open-terminal.a
 
