include ChangeLog AUTHORS COPYING NEWS README TODO
include MANIFEST.in
include pymatecorba-2.pc.in
include dsextras.py
recursive-include src *.c
recursive-include src *.h
global-exclude */CVS/* .cvsignore
