<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <action id="org.mate.policykit.examples.jump">
    <description>Jump</description>
    <description xml:lang="cs">Přeskočit</description>
    <description xml:lang="en_GB">Jump</description>
    <description xml:lang="es">Saltar</description>
    <description xml:lang="fi">Hyppää</description>
    <description xml:lang="fr">Sauter</description>
    <description xml:lang="ja">Jump</description>
    <description xml:lang="pl">Wykonaj "Jump"</description>
    <description xml:lang="pt_BR">Pular</description>
    <description xml:lang="ru">Jump</description>
    <description xml:lang="sk">Jump</description>
    <description xml:lang="zh_CN">Jump</description>
    <message>System policy prevents the PolicyKit-mate example helper from Jumping</message>
    <message xml:lang="en_GB">System policy prevents the PolicyKit-mate example helper from Jumping</message>
    <message xml:lang="fi">Järjestelmäkäytäntö estää PolicyKit-maten esimerkkiavustinta hyppäämästä</message>
    <message xml:lang="fr">La stratégie système empêche l'assistant exemple de PolicyKit-mate de sauter</message>
    <message xml:lang="ja">System policy prevents the PolicyKit-mate example helper from Jumping</message>
    <message xml:lang="pl">Zasady systemu powstrzymują przykładowy program pomocniczy PolicyKit-mate przed wykonaniem "Jump"</message>
    <message xml:lang="pt_BR">A política do sistema impediu que o assistente de exemplo do PolicyKit-mate realizasse um pulo</message>
    <message xml:lang="ru">System policy prevents the PolicyKit-mate example helper from Jumping</message>
    <message xml:lang="sk">Systémová politika zabraňuje ukážkovému príkladu PolicyKit-mate vo vykonaní akcie Jump</message>
    <message xml:lang="zh_CN">系统策略防止 PolicyKit-mate 例子帮助程序进行 Jumping</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self_one_shot</allow_active>
    </defaults>
  </action>

  <action id="org.mate.policykit.examples.frobnicate">
    <description>Frobnicate</description>
    <description xml:lang="da">Frobniker</description>
    <description xml:lang="en_GB">Frobnicate</description>
    <description xml:lang="fi">Säädä</description>
    <description xml:lang="fr">Tripatouiller</description>
    <description xml:lang="ja">Frobnicate</description>
    <description xml:lang="pl">Wykonaj "Frobnicate"</description>
    <description xml:lang="pt_BR">Ajustar</description>
    <description xml:lang="ru">Frobnicate</description>
    <description xml:lang="sk">Frobnicate</description>
    <description xml:lang="zh_CN">Frobnicate</description>
    <message>System policy prevents the PolicyKit-mate example helper from Frobnicating</message>
    <message xml:lang="da">System indstillinger forhindrer PolicyKit-mate eksempel hjælper i at Frobnikere!</message>
    <message xml:lang="en_GB">System policy prevents the PolicyKit-mate example helper from Frobnicating</message>
    <message xml:lang="fi">Järjestelmäkäytäntö estää PolicyKit-maten esimerkkiavustinta säätämästä</message>
    <message xml:lang="fr">La stratégie système empêche l'assistant exemple de PolicyKit-mate de tripatouiller</message>
    <message xml:lang="ja">System policy prevents the PolicyKit-mate example helper from Frobnicating</message>
    <message xml:lang="pl">Zasady systemu powstrzymują przykładowy program pomocniczy PolicyKit-mate przed wykonaniem "Frobnicate"</message>
    <message xml:lang="pt_BR">A política do sistema impediu que o assistente de exemplo do PolicyKit-mate realizasse um ajuste</message>
    <message xml:lang="ru">System policy prevents the PolicyKit-mate example helper from Frobnicating</message>
    <message xml:lang="sk">Systémová politika zabraňuje ukážkovému príkladu PolicyKit-mate vo vykonaní akcie Frobnicate.</message>
    <message xml:lang="zh_CN">系统策略防止 PolicyKit-mate 例子帮助程序进行 Frobnicat</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
  </action>
  
  <action id="org.mate.policykit.examples.tweak">
    <description>Tweak</description>
    <description xml:lang="cs">Přizpůsobit</description>
    <description xml:lang="da">Tvæk</description>
    <description xml:lang="en_GB">Tweak</description>
    <description xml:lang="fi">Viritä</description>
    <description xml:lang="fr">Ajuster</description>
    <description xml:lang="ja">Tweak</description>
    <description xml:lang="pl">Wykonaj "Tweak"</description>
    <description xml:lang="pt">Ajustar</description>
    <description xml:lang="pt_BR">Tweak</description>
    <description xml:lang="ru">Tweak</description>
    <description xml:lang="sk">Tweak</description>
    <description xml:lang="zh_CN">Tweak</description>
    <message>System policy prevents the PolicyKit-mate example helper from Tweaking</message>
    <message xml:lang="da">System indstillinger forhindrer PolicyKit-mate eksempel hjælper i at Tvække!</message>
    <message xml:lang="en_GB">System policy prevents the PolicyKit-mate example helper from Tweaking</message>
    <message xml:lang="fi">Järjestelmäkäytäntö estää PolicyKit-maten esimerkkiavustinta virittämästä</message>
    <message xml:lang="fr">La stratégie système empêche l'assistant exemple de PolicyKit-mate d'ajuster</message>
    <message xml:lang="ja">System policy prevents the PolicyKit-mate example helper from Tweaking</message>
    <message xml:lang="pl">Zasady systemu powstrzymują przykładowy program pomocniczy PolicyKit-mate przed wykonaniem "Tweak"</message>
    <message xml:lang="pt_BR">A política do sistema impediu que o assistente de exemplo do PolicyKit-mate realizasse um Tweak</message>
    <message xml:lang="ru">System policy prevents the PolicyKit-mate example helper from Tweaking</message>
    <message xml:lang="sk">Systémová politika zabraňuje ukážkovému príkladu PolicyKit-mate vo vykonaní akcie Tweak</message>
    <message xml:lang="zh_CN">系统策略防止 PolicyKit-mate 例子帮助程序进行 Tweaking</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
  
  <action id="org.mate.policykit.examples.twiddle">
    <description>Twiddle</description>
    <description xml:lang="da">Tvidl</description>
    <description xml:lang="en_GB">Twiddle</description>
    <description xml:lang="fi">Pyörittele</description>
    <description xml:lang="fr">Bidouiller</description>
    <description xml:lang="ja">Twiddle</description>
    <description xml:lang="pl">Wykonaj "Twiddle"</description>
    <description xml:lang="pt_BR">Girar</description>
    <description xml:lang="ru">Twiddle</description>
    <description xml:lang="sk">Twiddle</description>
    <description xml:lang="zh_CN">Twiddle</description>
    <message>System policy prevents the PolicyKit-mate example helper from Twiddling</message>
    <message xml:lang="da">System indstillinger forhindrer PolicyKit-mate eksempel hjælper i at Tvidle!</message>
    <message xml:lang="en_GB">System policy prevents the PolicyKit-mate example helper from Twiddling</message>
    <message xml:lang="fi">Järjestelmäkäytäntö estää PolicyKit-maten esimerkkiavustinta pyörittelemästä</message>
    <message xml:lang="fr">La stratégie système empêche l'assistant exemple de PolicyKit-mate de bidouiller</message>
    <message xml:lang="ja">System policy prevents the PolicyKit-mate example helper from Twiddling</message>
    <message xml:lang="pl">Zasady systemu powstrzymują przykładowy program pomocniczy PolicyKit-mate przed wykonaniem "Twiddle"</message>
    <message xml:lang="pt_BR">A política do sistema impediu que o assistente de exemplo do PolicyKit-mate realizasse um giro</message>
    <message xml:lang="ru">System policy prevents the PolicyKit-mate example helper from Twiddling</message>
    <message xml:lang="sk">Systémová politika zabraňuje ukážkovému príkladu PolicyKit-mate vo vykonaní akcie Twiddle</message>
    <message xml:lang="zh_CN">系统策略防止 PolicyKit-mate 例子帮助程序进行 Twiddling</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_always</allow_active>
    </defaults>
  </action>
  
  <action id="org.mate.policykit.examples.punch">
    <description>Punch</description>
    <description xml:lang="da">Smadre</description>
    <description xml:lang="en_GB">Punch</description>
    <description xml:lang="fi">Näpäytä</description>
    <description xml:lang="fr">Frapper</description>
    <description xml:lang="ja">Punch</description>
    <description xml:lang="pl">Wykonaj "Punch"</description>
    <description xml:lang="pt_BR">Socar</description>
    <description xml:lang="ru">Punch</description>
    <description xml:lang="sk">Punch</description>
    <description xml:lang="zh_CN">Punch</description>
    <message>System policy prevents the PolicyKit-mate example helper from Punching</message>
    <message xml:lang="da">System indstillinger forhindrer PolicyKit-mate eksempel hjælper i at Smadre!</message>
    <message xml:lang="en_GB">System policy prevents the PolicyKit-mate example helper from Punching</message>
    <message xml:lang="fi">Järjestelmäkäytäntö estää PolicyKit-maten esimerkkiavustinta näpäyttämästä</message>
    <message xml:lang="fr">La stratégie système empêche l'assistant exemple de PolicyKit-mate de frapper</message>
    <message xml:lang="ja">System policy prevents the PolicyKit-mate example helper from Punching</message>
    <message xml:lang="pl">Zasady systemu powstrzymują przykładowy program pomocniczy PolicyKit-mate przed wykonaniem "Punch"</message>
    <message xml:lang="pt_BR">A política do sistema impediu que o assistente de exemplo do PolicyKit-mate realizasse um soco</message>
    <message xml:lang="ru">System policy prevents the PolicyKit-mate example helper from Punching</message>
    <message xml:lang="sk">Systémová politika zabraňuje ukážkovému príkladu PolicyKit-mate vo vykonaní akcie Punch</message>
    <message xml:lang="zh_CN">系统策略防止 PolicyKit-mate 例子帮助程序进行 Punching</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self_keep_session</allow_active>
    </defaults>
  </action>

  <action id="org.mate.policykit.examples.toggle">
    <description>Toggle</description>
    <description xml:lang="ca">Commuta</description>
    <description xml:lang="cs">Přepnout</description>
    <description xml:lang="el">Εναλλαγή</description>
    <description xml:lang="en_GB">Toggle</description>
    <description xml:lang="es">Conmutar</description>
    <description xml:lang="fi">Kytke</description>
    <description xml:lang="fr">Basculer</description>
    <description xml:lang="ja">Toggle</description>
    <description xml:lang="pl">Wykonaj "Toggle"</description>
    <description xml:lang="pt_BR">Alternar</description>
    <description xml:lang="ru">Toggle</description>
    <description xml:lang="sk">Toggle</description>
    <description xml:lang="sv">Växla</description>
    <description xml:lang="zh_CN">Toggle</description>
    <message>System policy prevents the PolicyKit-mate example helper from Toggling</message>
    <message xml:lang="en_GB">System policy prevents the PolicyKit-mate example helper from Toggling</message>
    <message xml:lang="fi">Järjestelmäkäytäntö estää PolicyKit-maten esimerkkiavustinta kytkemästä</message>
    <message xml:lang="fr">La stratégie système empêche l'assistant exemple de PolicyKit-mate de basculer</message>
    <message xml:lang="ja">System policy prevents the PolicyKit-mate example helper from Toggling</message>
    <message xml:lang="pl">Zasady systemu powstrzymują przykładowy program pomocniczy PolicyKit-mate przed wykonaniem "Toggle"</message>
    <message xml:lang="pt_BR">A política do sistema impediu o assistente de exemplo do PolicyKit-mate de realizar uma alternância.</message>
    <message xml:lang="ru">System policy prevents the PolicyKit-mate example helper from Toggling</message>
    <message xml:lang="sk">Systémová politika zabraňuje ukážkovému príkladu PolicyKit-mate vo vykonaní akcie Toggle</message>
    <message xml:lang="zh_CN">系统策略防止 PolicyKit-mate 例子帮助程序进行 Toggling</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_always</allow_active>
    </defaults>
  </action>

  <action id="org.mate.policykit.examples.kick-foo">
    <description>Kick foo</description>
    <description xml:lang="en_GB">Kick foo</description>
    <description xml:lang="fi">Potkaise foota</description>
    <description xml:lang="fr">Pousser toto</description>
    <description xml:lang="ja">Kick foo</description>
    <description xml:lang="pl">Wykonaj "Kick" na "foo"</description>
    <description xml:lang="pt_BR">Kick foo</description>
    <description xml:lang="ru">Kick foo</description>
    <description xml:lang="sk">Kick foo</description>
    <description xml:lang="zh_CN">Kick foo</description>
    <message>System policy prevents the PolicyKit-mate example helper from Kicking foo</message>
    <message xml:lang="da">System indstillinger forhindrer PolicyKit-mate eksempel hjælper fra at Sparke foo!</message>
    <message xml:lang="en_GB">System policy prevents the PolicyKit-mate example helper from Kicking foo</message>
    <message xml:lang="fi">Järjestelmäkäytäntö estää PolicyKit-maten esimerkkiavustinta potkaisemasta foota</message>
    <message xml:lang="fr">La stratégie système empêche l'assistant exemple de PolicyKit-mate de pousser toto</message>
    <message xml:lang="ja">System policy prevents the PolicyKit-mate example helper from Kicking foo</message>
    <message xml:lang="pl">Zasady systemu powstrzymują przykładowy program pomocniczy PolicyKit-mate przed wykonaniem "Kick" na "foo"</message>
    <message xml:lang="pt_BR">A política do sistema impediu que o assistente de exemplo do PolicyKit-mate realizasse um kick foo</message>
    <message xml:lang="ru">System policy prevents the PolicyKit-mate example helper from Kicking foo</message>
    <message xml:lang="sk">Systémová politika zabraňuje ukážkovému príkladu PolicyKit-mate vo vykonaní akcie Kick foo</message>
    <message xml:lang="zh_CN">系统策略防止 PolicyKit-mate 例子帮助程序进行 Kicking foo</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
    <annotate key="org.mate.policykit.examples.kick-path">foo</annotate>
  </action>

  <action id="org.mate.policykit.examples.kick-bar">
    <description>Kick bar</description>
    <description xml:lang="en_GB">Kick bar</description>
    <description xml:lang="fi">Potkaise baria</description>
    <description xml:lang="fr">Pousser titi</description>
    <description xml:lang="ja">Kick bar</description>
    <description xml:lang="pl">Wykonaj "Kick" na "bar"</description>
    <description xml:lang="pt_BR">Kick bar</description>
    <description xml:lang="ru">Kick bar</description>
    <description xml:lang="sk">Kick bar</description>
    <description xml:lang="zh_CN">Kick bar</description>
    <message>System policy prevents the PolicyKit-mate example helper from Kicking bar</message>
    <message xml:lang="da">System indstillinger forhindrer PolicyKit-mate eksempel hjælper fra at Sparke bar!</message>
    <message xml:lang="en_GB">System policy prevents the PolicyKit-mate example helper from Kicking bar</message>
    <message xml:lang="fi">Järjestelmäkäytäntö estää PolicyKit-maten esimerkkiavustinta potkaisemasta baria</message>
    <message xml:lang="fr">La stratégie système empêche l'assistant exemple de PolicyKit-mate de pousser titi</message>
    <message xml:lang="ja">System policy prevents the PolicyKit-mate example helper from Kicking bar</message>
    <message xml:lang="pl">Zasady systemu powstrzymują przykładowy program pomocniczy PolicyKit-mate przed wykonaniem "Kick" na "bar"</message>
    <message xml:lang="pt_BR">A política do sistema impediu que o assistente de exemplo do PolicyKit-mate realizasse um kick bar</message>
    <message xml:lang="ru">System policy prevents the PolicyKit-mate example helper from Kicking bar</message>
    <message xml:lang="sk">Systémová politika zabraňuje ukážkovému príkladu PolicyKit-mate vo vykonaní akcie Kick bar</message>
    <message xml:lang="zh_CN">系统策略防止 PolicyKit-mate 例子帮助程序进行 Kicking bar</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
    <annotate key="org.mate.policykit.examples.kick-path">bar</annotate>
  </action>

  <action id="org.mate.policykit.examples.kick-baz">
    <description>Kick baz</description>
    <description xml:lang="en_GB">Kick baz</description>
    <description xml:lang="fi">Potkaise bazia</description>
    <description xml:lang="fr">Pousser tata</description>
    <description xml:lang="ja">Kick baz</description>
    <description xml:lang="pl">Wykonaj "Kick" na "baz</description>
    <description xml:lang="pt_BR">Kick baz</description>
    <description xml:lang="ru">Kick baz</description>
    <description xml:lang="sk">Kick baz</description>
    <description xml:lang="zh_CN">Kick baz</description>
    <message>System policy prevents the PolicyKit-mate example helper from Kicking baz</message>
    <message xml:lang="da">System indstillinger forhindrer PolicyKit-mate eksempel hjælper fra at Sparke baz!</message>
    <message xml:lang="en_GB">System policy prevents the PolicyKit-mate example helper from Kicking baz</message>
    <message xml:lang="fi">Järjestelmäkäytäntö estää PolicyKit-maten esimerkkiavustinta potkaisemasta bazia</message>
    <message xml:lang="fr">La stratégie système empêche l'assistant exemple de PolicyKit-mate de pousser tata</message>
    <message xml:lang="ja">System policy prevents the PolicyKit-mate example helper from Kicking baz</message>
    <message xml:lang="pl">Zasady systemu powstrzymują przykładowy program pomocniczy PolicyKit-mate przed wykonaniem "Kick" na "baz"</message>
    <message xml:lang="pt_BR">A política do sistema impediu que o assistente de exemplo do PolicyKit-mate realizasse um kick baz</message>
    <message xml:lang="ru">System policy prevents the PolicyKit-mate example helper from Kicking baz</message>
    <message xml:lang="sk">Systémová politika zabraňuje ukážkovému príkladu PolicyKit-mate vo vykonaní akcie Kick baz</message>
    <message xml:lang="zh_CN">系统策略防止 PolicyKit-mate 例子帮助程序进行 Kicking baz</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
    <annotate key="org.mate.policykit.examples.kick-path">baz</annotate>
  </action>

</policyconfig>